<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= listing.title %></title>
  </head>
  <body>
    <h1><%= listing.title %></h1>
    <img src="<%= listing.image.url %>" alt="<%= listing.title %>" />
    <p><%= listing.description %></p>
    <p>₹<%= listing.price %> per night</p>
    <p><%= listing.location %>, <%= listing.country %></p>
    <form action="/listings/<%= listing._id %>/edit" method="GET">
      <button type="submit">Edit Listing</button>
  </body>
</html>
